html, body {
    width:100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins';
}

.vertical-navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #0D8A50;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.vertical-navbar a {
    font-size: 25px;
    display: block;
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: -10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.vertical-navbar li {
    font-size: 25px;
    display: block;
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 15px;
}

.map-container {
    margin-left: 25%;
    height: 100%;
}

select {
    border:0px;
    display: block;
    outline:none;
    cursor: pointer; 
    height: 30px; 
    width: 290px;
    margin-bottom: 15px;
    margin-top: -15px;
    background-color: white;
    font-family: 'Poppins';
}

option {
    background-color: white;
    font-family: 'Poppins';
}

hr {
    border: solid;
    color: white;
    border-width: 2px;
    background-color:  white;
    opacity: 1;
    margin-top: 40px;
}